@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);
:root {
	--grey: #282c34;
	--cyan: #66fcf1;
	--dark-grey: rgba(0, 0, 0, 0.25);
}
* {
	background-color: hsl(255, 100, 50);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	align-items: center;
	background-color: #282c34;
	background-color: var(--grey);
	display: flex;
	flex-direction: column;
}
.title {
	color: #fff;
	font-family: ubuntu;
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 1rem;
	padding-bottom: 5px;
	padding-top: 95px;
	text-align: center;
}
.container {
	background-color: rgba(0, 0, 0, 0.25);
	background-color: var(--dark-grey);
	border-radius: 1.3rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	margin-top: 5.6rem;
	max-width: 100%;
	padding: 20px;
	width: 380px;
}
.result-label {
	font-size: 1.5rem;
	padding-bottom: 10px;
}
.result-box,
.result-label {
	font-family: ubuntu, sans-serif;
	text-align: center;
}
.result-box {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.6rem;
	color: #66fcf1;
	color: var(--cyan);
	font-size: 24px;
	font-weight: 600;
	height: 50px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding: 12px 10px;
	position: relative;
	width: 100%;
}
.opt,
.result-box .result {
	text-align: center;
}
.opt {
	font-family: ubuntu, sans-serif;
}
input[type="number"] {
	-webkit-appearance: none;
	background-color: rgba(0, 0, 0, 0.25);
	background-color: var(--dark-grey);
	border: none;
	border-radius: 1.3rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	padding: 10px;
	text-align: center;
	width: 100%;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
.gen-btn {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 1.2em;
}
.generate {
	background-color: #66fcf1;
	background-color: var(--cyan);
	background-size: 400% 400%;
	border: none;
	border-radius: 0.6rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	color: #282c34;
	color: var(--grey);
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px 20px;
}
